# These owners will be the default owners for everything in
# the repo. People listed below will be requested for review
# when someone opens a pull request.
* @mjmckay @amfred @e-backmark-ericsson @olivernocon @afrittoli @thedevelopnik @rakhbari @bobcatfish @fdegir @MarckK @zxiiro @tracymiranda @agrimmer @justinabrahms
